<nav class="navbar bg-danger navbar-dark navbar-expand-sm" data-bs-theme="dark">
    <div class="container">
        <a href="/" class="navbar-brand">Shop App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a asp-controller="shop" asp-action="cart" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a asp-controller="shop" asp-action="orders" class="nav-link">Orders </a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="create-product" class="nav-link">Add Product</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="product-list" class="nav-link">Admin Products</a>
            </li>
        </ul>



    </div>

</nav>