@model Product
<div class="card mb-2 h-100">
    <img src="~/images/@Model.ImageUrl" alt="" class="card-image-top h-100">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <small class="text-muted">
            ₺@Model.Price
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="details" asp-route-url="@Model.Url"
            class="btn btn-primary btn-sm">Details</a>
        <a asp-controller="shop" asp-action="add-to-cart" asp-route-url="@Model.Url" class="btn btn-primary btn-sm">Add
            to cart</a>
    </div>

</div>